<h1>Contact us</h1>

<%# <form>
</form> %>

<%# rails has special helper methods that are available in any view which help us
    build out HTML
%>

<%= form_tag contact_submit_path %>
<div>
    <%= label_tag :full_name %> <br />
    <%= text_field_tag :full_name %>
</div>
<div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
</div>
<div><%= submit_tag "CONTACT US" %></div>

