<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswersMay2021</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path  %> | 
      <%= link_to 'Contact Us', contact_path %> |
      <%= link_to 'New Question', new_question_path %> |
      <%= link_to 'Questions Index', questions_path%> |
    </nav>
    <div>
      <%= flash[:notice] || flash[:alert] %>
    </div>
      <%= yield %>
  </body>
</html>